@import "tailwindcss";

:root {
  --background: #12171d;
  --foreground: #ffffff;
  --primary-teal: #26b8a3;
  --secondary-dark: #1a222a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-teal-game: var(--primary-teal);
  --color-dark-surface: var(--secondary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
